<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thangho.development2008.fristapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FristApp">

        <provider
            android:name="thangho.development2008.fristapp.InfoUser"
            android:authorities="com.demo.user.information"
            android:enabled="true"
            android:exported="true"></provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <meta-data -->

        <activity
            android:name=".MainActivity2"
            android:exported="true" />

        <!-- android:name="preloaded_fonts" -->
        <!-- android:resource="@array/preloaded_fonts" /> -->
        <service android:name=".ServiceMedia" />
    </application>

</manifest>